<div class="container" *ngIf="urlLaunchPageSafe">
  <iframe *ngIf="!openInNewWindow"
  class="no-border" 
  sandbox="allow-scripts allow-forms allow-same-origin allow-modals allow-top-navigation allow-popups" 
  [src]="urlLaunchPageSafe" 
  name="scoIframe" 
  id="scoIframe" 
  width="100%" 
  height="100%" >    
  </iframe>
</div>


